<div fxLayoutAlign="center center " fxFlexFill>
  <mat-card  class="col-lg-5 col-md-5 shadow-lg">
    <mat-toolbar><span class="title-center">Login</span></mat-toolbar>
    <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column">
      <!-- input email field  -->

      <mat-form-field>
        <input matInput placeholder="Email" name="email" formControlName="email" />


        <mat-error *ngIf="loginForm.controls['email'].hasError('required') &&
        loginForm.controls['email'].touched">
          <h6>Please enter your email address</h6>
        </mat-error>

      </mat-form-field>

      <!-- input password field  -->

      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" formControlName="password" />

        <mat-error *ngIf="loginForm.controls['password'].hasError('required') &&
        loginForm.controls['password'].touched">
          <h6>Please enter your password</h6>
        </mat-error>

      </mat-form-field>

      <!-- Links  -->

      <div class="row my-3">
        <a class="col" routerLink="/signup">Don't have an account</a>
        <a class="col text-end" routerLink="/forgot-password">Forgot Password</a>
      </div>

      <!-- login button  -->
      
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">
        Login
      </button>
    </form>
  </mat-card>
</div>