<div fxLayoutAlign="center center " fxFlexFill>
    <mat-card class="col-lg-5 col-md-6 shadow-lg">
      <mat-toolbar><span class="title">Forgot password</span></mat-toolbar>
      <form [formGroup]="forgotpass" fxLayoutAlign="stretch" fxLayout="column">
  
        <!-- input field  -->
  
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            name="email"
            formControlName="email"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          [disabled]="forgotpass.invalid"
          (click)="forgt()"
        >
          Forgot password
        </button>
      </form>
    </mat-card>
  </div>
  