<div fxLayoutAlign="center center " fxFlexFill>
    <mat-card fxFlex="40">
      <mat-toolbar><span class="title-center"></span>Forgot password</mat-toolbar>
      <form [formGroup]="forgotpass" fxLayoutAlign="stretch" fxLayout="column">
  
        <!-- input field  -->
  
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            name="email"
            formControlName="email"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          [disabled]="forgotpass.invalid"
          (click)="forgt()"
        >
          Forgot password
        </button>
      </form>
    </mat-card>
  </div>
  