<div fxLayoutAlign="center center " fxFlexFill>
    <mat-card fxFlex="40">
      <mat-toolbar><span class="title-center">Reset Password</span></mat-toolbar>
      <form [formGroup]="newpass"  fxLayoutAlign="stretch" fxLayout="column">
  
 
        <mat-form-field>
          <input
            matInput
            type="new_password"
            placeholder="Password"
            name="new_password"
            formControlName="new_password"
          />
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            type="confirm_password"
            placeholder="Confirm Password"
            name="confirm_password"
            formControlName="confirm_password"
          />
        </mat-form-field>
       
        <button
          mat-raised-button
          color="primary"
          [disabled]="newpass.invalid"
          (click)="signup()"
        >
          Change Password
        </button>
      </form>
    </mat-card>
  </div>
  