<div fxLayoutAlign="center center " fxFlexFill>
  <mat-card class="col-lg-5 col-md-5 shadow-lg">
    <mat-toolbar><span class="text-center">Reset Password</span></mat-toolbar>
    <form class="row"
      [formGroup]="resetForm"
      #form="ngForm"
      fxLayoutAlign="stretch"
      fxLayout="column"
    >
      <mat-form-field class="col">
        <input
          matInput
          type="new_password"
          placeholder="Password"
          name="new_password"
          formControlName="new_password"
        />
        <mat-error
        *ngIf="
          resetForm.controls['new_password'].hasError('required') &&
          resetForm.controls['new_password'].touched
          "
      >
        You must include a new_password.
      </mat-error>
      <mat-error
        *ngIf="
          !resetForm.controls['new_password'].hasError('required') &&
          resetForm.controls['new_password'].hasError('minlength')
        "
      >
      <h6>Password should like <span><b>Lazy1</b></span> </h6>
      </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <input
          matInput
          type="confirm_password"
          placeholder="Confirm Password"
          name="confirm_password"
          formControlName="confirm_password"
        />
        <mat-error
        *ngIf="
          resetForm.controls['confirm_password'].hasError('required') &&
          resetForm.controls['confirm_password'].touched
          "
      >
        You must include confirm password.
      </mat-error>
      <mat-error
        *ngIf="
          !resetForm.controls['confirm_password'].hasError('required') &&
          resetForm.controls['confirm_password'].touched &&
          resetForm.controls['confirm_password'].hasError('notSame')
        "
        >
          Passwords does not match
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="resetForm.invalid"
        (click)="onSubmit()"
      >
        Change Password
      </button>
    </form>
  </mat-card>
</div>
