<div fxLayoutAlign="center center " fxFlexFill>
    <mat-card fxFlex="40">
      <mat-toolbar><span class="title-center">Change new password</span></mat-toolbar>
      <form   fxLayoutAlign="stretch" fxLayout="column">
  
 
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="New password"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            type="cnfrmpassword"
            placeholder="Confirm password"
            name="cnfrmpassword"
            formControlName="cnfrmpassword"
          />
        </mat-form-field>
       
        <button
          mat-raised-button
          color="primary"
        >
          Change Password
        </button>
      </form>
    </mat-card>
  </div>
  