<div fxLayoutAlign="center center " fxFlexFill>
  <mat-card fxFlex="40" class="shadow-lg">
    <mat-toolbar><span class="title-center">SignUp Page</span></mat-toolbar>
    <form [formGroup]="dataForm" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Name" name="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          name="email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Mobile"
          name="number"
          formControlName="mobile"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
      </mat-form-field>
      <div class="row my-3">
        <a class="col" routerLink="/login">Already have an account</a>
      </div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="dataForm.invalid"
        (click)="signup()"
      >
        SignUp
      </button>
    </form>
  </mat-card>
</div>
